version: '3.8'

services:
  app:
    build: .
    ports:
      - "{{ app_port }}:{{ app_port }}"
    environment:
      - NODE_ENV=production
    volumes:
      - ./app:/app
    networks:
      - app-network
    depends_on:
      - db
    restart: always

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=paper_social
      - POSTGRES_PASSWORD=paper_social_password
      - POSTGRES_DB=paper_social
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - app
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: 